<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.DeutchFlashCards"
          android:installLocation="preferExternal"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    android.permission.INTERNET
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <meta-data android:name="metrica:api:key" android:value="16861"/>

        <service
                android:name="com.yandex.metrica.MetricaService"
                android:process=":Metrica" >

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.yandex.metrica.IMetricaService" />
                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data android:name="metrica:api:level" android:value="1" />
        </service>

        <receiver
                android:name="com.yandex.metrica.MetricaEventHandler">

            <intent-filter>
                <action android:name="com.yandex.metrica.intent.action.SYNC" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.yandex.metrica.CampaignReceiver"
                android:exported="true" >

            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

        </receiver>

        <provider
                android:name="com.example.DeutchFlashCards.provider.ContentProvider"
                android:authorities="com.example.DeutchFlashCards.ContentProvider"
                android:exported="true" />

        <activity android:name="MyActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Study"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name=".Result"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"/>
    </application>
</manifest>
